html, body {
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
}

#loading {
	width: 1000px;
	height: 75px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 25px;
}

#visualise-it {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 25px;
	height: 100%;
}

text {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 14px;
}

.hide {
	fill: white;
}

.error-message {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 14px;
	color: red;
	margin-bottom:20px;
}
